/* Hide the "Return to top" button */
.VPLocalNavOutlineDropdown {
  display: none !important;
}

.VPFooter {
  display: block !important;
}

@font-face {
  font-family: "SolaimanLipi";
  src: url("/articles/files/SolaimanLipiNormal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-base: "SolaimanLipi", sans-serif;
  /* Optional: Set code/monospace font if needed */
  /* --vp-font-family-mono: "SolaimanLipi", monospace; */
}